.search-bar {
  width: 150px;
  border-radius: 1em;
  /* display: flex; */
  align-self: center;
}

.stock-form {
  display: flex;
  align-content: center;
  justify-content: center;
}

.button {
  border-radius: 1em;
  font-size: 16px;
  color: white;
  background-color: black;
}

.button:hover {
  cursor: pointer;
}
