.stockCard {
  list-style-type: none;
  width: 150px;
  height: 120px;
  box-shadow: 1px;
  border: solid black;
  padding: 20px;
  margin: 20px;
}

.stockList {
  display: flex;
  justify-content: center;
  align-items: center;
}
.stockList :hover {
  background-color: gainsboro;
}

.item {
  margin: 2px;
}
